<!DOCTYPE HTML>

<html>
 <head>
  <title>
   Converting Thoughts To Text   
  </title>    
     <script src="../static/bootstrap.min.js">
     </script>
    <script src="../static/jquery-3.3.1.min.js">
     </script>
     <link rel="shortcut icon" type="image/x-icon" href="../static/th.jpg" />
     <link rel="stylesheet" href="../static/bootstrap.css">
   

     <link rel="stylesheet"  href="../static/keycss.css"/>
    
     <script src="../static/lado1.js.js">
     </script>
</head>

  <body>
     
      
     
       <div class="container-fluid">
         
           
        
        <div class="row screen">
           
            <div class="col-sm-4 display1 ">
             <p id="input"></p>
               
            </div>
            
            <div class="col-sm-8 display">
                <div class="typewriter">
  <h3 style="text-align: center">DISPLAY</h3>
</div>
             
                
                 <div class=" show typewriter">
                <p id="final"></p>
                </div>
                
               
               
            </div>
            
        </div>
            
             <div class="row">
            
             <div class="col-sm-12 keyframe ">
                   
                 
           <div class="keyboard">
              
               <div class="lights">
                   <span class="logo">
                     H.F
                   </span>
                   <span class="light1">C</span>
               
               </div>
                  
               <div class="rabin">
                   <ul class="keys">
                   </ul>
               </div>
         </div>
              
            </div>
                 
                </div> 
           
           
             
             
             
             </div>
      
 </body>
</html>